@page "/"

<PageTitle>主页</PageTitle>

<h1>让我们开始吧!</h1>

<MContainer>
    <MRow>
        <MCol>
            <button style="background-color: #85FFBD;
                           background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);" 
                    Class="big_button">图片</button> 
        </MCol>
        <MCol>
            <button style="background-color: #0093E9;
                           background-image: linear-gradient(160deg, #80D0C7 0%, #0093E9 100%);"
                    Class="big_button">文档(docx)</button> 
        </MCol>
        <MCol>
            <button style="background-color: #FBAB7E;
                           background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);" 
                    Class="big_button">文档(pdf)</button> 
        </MCol>
    </MRow>    
</MContainer>

<MContainer>
    <MRow NoGutters>
        <MCol>
            <button Class="small_button left_top_border">
                <MIcon>mdi-heart</MIcon> 功能1
            </button> 
        </MCol>
        <MCol>
            <button Class="small_button">
                <MIcon>mdi-heart</MIcon> 功能2
            </button> 
        </MCol>
        <MCol>
            <button Class="small_button right_top_border">
                <MIcon>mdi-heart</MIcon> 功能3
            </button> 
        </MCol>
    </MRow>
    <MRow NoGutters>
            <MCol>
                <button Class="small_button left_bottom_border">
                    <MIcon>mdi-heart</MIcon> 功能4
                </button> 
            </MCol>
            <MCol>
                <button Class="small_button">
                    <MIcon>mdi-heart</MIcon> 功能5
                </button> 
            </MCol>
            <MCol>
                <button Class="small_button right_bottom_border">
                    <MIcon>mdi-heart</MIcon> 功能6
                </button> 
            </MCol>
        </MRow>    
</MContainer>